body {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.input-group {
    justify-content: center;
}

.input-group input {
    width: 70%;
}

.list-group-item {
    border: none;
    color: #fff;
    position: relative;
}

.list-group-item:nth-child(even) {
    background-color: #444;
}

.list-group-item:nth-child(odd) {
    background-color: #555;
}

.list-group-item:hover {
    transform: scale(1.05);
}

.list-group-item .edit, .list-group-item .delete {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

.list-group-item .edit {
    right: 50px;
}

.list-group-item .delete {
    right: 20px;
}

.list-group-item:hover .edit, .list-group-item:hover .delete {
    display: block;
}

.footer {
    background-color: #222;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}

.footer p {
    margin: 0;
}
