.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar ul li {
    color: white;
    cursor: pointer;
  }
  
  .join-us-button {
    background-color: #ff4b2b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  